<div style="width: 60vw; margin: auto; " class="border border-primary">
    <form [formGroup]="signUpForm" (ngSubmit)="submitForm()" class="border border-light">

        <div class="container">
            <h3>Personal Info</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <input formControlName="username" placeholder="username" class="form-control form-control-sm"
                        type="text" required />
                </div>
                <div class="col-md-6">
                    <input formControlName="fullName" placeholder="fullName" class="form-control form-control-sm"
                        type="text" required />
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <input formControlName="password" placeholder="password" class="form-control form-control-sm"
                        type="password" required />
                </div>
                <div class="col-md-6">
                    <input formControlName="confirmPassword" placeholder="confirmPassword"
                        class="form-control form-control-sm" type="password" required />
                </div>

            </div>


            <div class="row">
                <div class="col-md-4"> <input formControlName="dob" placeholder="dob"
                        class="form-control form-control-sm" type="date" /></div>
                <div class="col-md-4"> <input formControlName="avatar" placeholder="avatar"
                        class="form-control form-control-sm" type="text" /> </div>
                <div class="col-md-4"> <input formControlName="email" placeholder="email"
                        class="form-control form-control-sm" type="email" /></div>
            </div>
            <div class="form-row align-items-center">

            </div>
            <h3>Address</h3>
            <hr>
            <div class="form-row align-items-center border border-light" formGroupName="address">

                <div class="row">
                    <div class="col-md-4"> <input formControlName="country" placeholder="country"
                            class="form-control form-control-sm" type="text" /></div>
                    <div class="col-md-4"> <input formControlName="state" placeholder="state"
                            class="form-control form-control-sm" type="text" /></div>
                    <div class="col-md-4"><input formControlName="zip" placeholder="zip"
                            class="form-control form-control-sm" type="text" /></div>
                </div>
                <div class="row">
                    <div class="col-md-6"> <input formControlName="city" placeholder="city"
                            class="form-control form-control-sm" type="text" /></div>
                    <div class="col-md-6">
                        <input formControlName="street" placeholder="street" class="form-control form-control-sm"
                            type="text" />
                    </div>

                </div>
            </div>
            <h3>
                Payment Info
            </h3>
            <hr>


            <div class="form-row align-items-center border border-light" formGroupName="paymentInfo">

                <div class="row">
                    <div class="col-md-6">
                        <input formControlName="bankNumber" placeholder="bankNumber"
                            class="form-control form-control-sm" type="text" />
                    </div>
                    <div class="col-md-6">
                        <input formControlName="routingNumber" placeholder="routingNumber"
                            class="form-control form-control-sm" type="text" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <input formControlName="creditCardNumber" placeholder="creditCardNumber"
                            class="form-control form-control-sm" type="text" />
                    </div>
                    <div class="col-md-4">
                        <input formControlName="securityNumber" placeholder="securityNumber"
                            class="form-control form-control-sm" type="text" />
                    </div>
                    <div class="col-md-4">
                        <input formControlName="expirationDate" placeholder="expirationDate"
                            class="form-control form-control-sm" type="text" />
                    </div>
                </div>

            </div>
        </div>
        <div style="width: 20vw; margin: auto;">
            <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
                Submit
            </button>
        </div>


    </form>
</div>